@{
	ViewData["Title"] = "Terms of Use";
}

<h2 class="mb-3">Terms and Conditions</h2>

<p>
	<strong>
		By using SimpleTaskManagerApp, you agree to use the platform responsibly. Do not upload inappropriate content, abuse system resources, or attempt unauthorized access.
	</strong>
</p>

<p>
	<strong>
		We reserve the right to restrict or remove access in case of misuse. Your continued use of the app signifies agreement with these terms.
	</strong>
</p>

<p>
	<strong>
		We may update these terms occasionally, and it's your responsibility to stay informed.
	</strong>
</p>