@using SimpleTaskManagerApp.ViewModels.AppTask
@model EditTaskViewModel

<form id="editTaskForm" asp-action="EditPartial" method="post">
	@Html.AntiForgeryToken()

	<!-- Title -->
	<div class="form-floating mb-3">
		<input asp-for="Title" class="form-control" />
		<label asp-for="Title"></label>
		<span asp-validation-for="Title" class="text-danger"></span>
	</div>

	<!-- Description -->
	<div class="form-floating mb-3">
		<textarea asp-for="Description" class="form-control"></textarea>
		<label asp-for="Description"></label>
		<span asp-validation-for="Description" class="text-danger"></span>
	</div>

	<!-- DueDate -->
	<div class="form-floating mb-3">
		<!-- Add JS Flatpickr to input -->
		<input asp-for="DueDate" class="form-control datepicker" />
		<label asp-for="DueDate"></label>
		<span asp-validation-for="DueDate" class="text-danger"></span>
	</div>

	<!-- Status -->
	<div class="form-floating mb-3">
		<select asp-for="StatusId" class="form-control" asp-items="@(new SelectList(Model.Statuses, "Id", "Name"))"></select>
		<label asp-for="StatusId"></label>
		<span asp-validation-for="StatusId" class="text-danger"></span>
	</div>

	<button type="submit" class="btn btn-warning">Update</button>
</form>




