@using SimpleTaskManagerApp.ViewModels.AppTask
@model AppTaskCreateViewModel

<h2>Create Task</h2>

<form asp-action="Create" method="post">
	@Html.AntiForgeryToken()
	<div class="form-floating mb-3">
		<input asp-for="Title" class="form-control" />
		<label asp-for="Title"></label>
		<span asp-validation-for="Title" class="text-danger"></span>
	</div>

	<div class="form-floating mb-3">
		<textarea asp-for="Description" class="form-control"></textarea>
		<label asp-for="Description"></label>
		<span asp-validation-for="Description" class="text-danger"></span>
	</div>

	<div class="form-floating mb-3">
		<input asp-for="DueDate" class="form-control" />
		<label asp-for="DueDate"></label>
		<span asp-validation-for="DueDate" class="text-danger"></span>
	</div>

	<div class="form-floating mb-3">
		<select asp-for="StatusId" class="form-control" asp-items="@(new SelectList(Model.Statuses, "Id", "Name"))"></select>
		<label asp-for="StatusId"></label>
		<span asp-validation-for="StatusId" class="text-danger"></span>
	</div>

	<button type="submit" class="btn btn-primary">Create</button>
</form>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}