html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-color: rgb(246, 248, 148);
}

.table-danger-deep {
    --bs-table-bg: #7a1e1e;
    --bs-table-color: #fff;
    --bs-table-hover-bg: #922727;
    color: var(--bs-table-color) !important;
    background-color: var(--bs-table-bg) !important;
}

.table-dark-custom {
    background-color: #1e1e1e;
    color: #fff;
}

.deleted-row {
    background-color: #5c0000 !important;
}

/*Placeholder for dark theme*/
.bg-dark ::placeholder {
    color: white;
    opacity: 1; 
}

.bg-dark input::placeholder {
    color: white;
}

.bg-dark input[type="date"]::-webkit-input-placeholder {
    color: white;
}

.bg-dark input[type="date"]::-moz-placeholder {
    color: white;
}